


.Pa-content{
  width: 359px;
  height: 479px;
overflow: hidden;
border-radius: 10px;
margin-left: 30px;
margin-bottom: 30px;
}
.Pa-carousel {
  overflow: hidden !important;
  width: 359px;
  height: 479px;
  // margin-left: 30px;
  border-radius: 10px;
margin-bottom: 30px;
  border-radius: 10px;
  position: relative;
  &:hover{
      transform: scale(1.1);
  }
 
}

.payattention-text{
  line-height: 2;
    margin: 30px;
    .pa-h2{
        font-size: 3rem;
        font-family: 'Times New Roman', Times, serif;
    }
    .pa-p{
        color: #767676;
        font-family: "corpo-s-text", Arial, Verdana, Helvetica, sans-serif;
    }
}

.Pa-carousel-h4{
  
}

  
  .swiper-pagination-bullet {
    background-color: #746e6e; 
  }
  
  .swiper-pagination-bullet-active {
    background-color: #585858;
  }
.Pa-carousel-h4{
  position: relative;
  margin-left: 30px;
  padding-left: 30px;
}
.payattention-container {
 

  

 


}