.st-1{
    display: flex;
    gap: 30px;
   
    img{
        height: 416px;
        border-radius: 15px;
    }
    .st-1-img1
    {
        width: 680px;
     
    }
    .st-1-img2{
        width: 340;
    }
}
.st-main{
   
  
    display: flex;
    width: 100%;
    justify-content: center;

}
.st-2{
    display: flex;
    gap: 30px;
    margin-top: 30px;
    img{
        width: 329px;
        height: 234px;
        border-radius: 15px;
    }
}
.st-main{
    display: flex;
   
}
.st-secondary2{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 20px;
 
    .st-s2-img1{
        width: 330px;
        height: 234px;
        border-radius: 15px;
    }
    .st-s2-img2{
        width: 330px;
        height: 416px;
        border-radius: 15px;
    }
}


@media (max-width: 990px) {
    .st-main {
        flex-direction: column;
        padding-left: 0;
    }

    .st-secondary2 {
        margin-left: 0;
    }

    .st-1 {
        flex-direction: column;
        gap: 20px;
    }

    .st-2 {
        flex-direction: column;
        gap: 20px;
    }

    .st-1-img1,
    .st-1-img2,
    .st-2 img,
    .st-s2-img1,
    .st-s2-img2 {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .st-main {
        flex-direction: column;
        padding-left: 0;
    }

    .st-1 {
        flex-direction: column;
        gap: 10px;
    }

    .st-2 {
        flex-direction: column;
        gap: 10px;
    }

    .st-1-img1,
    .st-1-img2,
    .st-2 img,
    .st-s2-img1,
    .st-s2-img2 {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 300px) {
    .st-main {
        flex-direction: column;
        padding-left: 0;
    }

    .st-1 {
        flex-direction: column;
        gap: 10px;
    }

    .st-2 {
        flex-direction: column;
        gap: 10px;
    }

    .st-1-img1,
    .st-1-img2,
    .st-2 img,
    .st-s2-img1,
    .st-s2-img2 {
        width: 100%;
        height: auto;
    }
}
