.card-akses {
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  margin: 20px auto;
  background-color: #fff;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card-akses:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  cursor: pointer;
}

.card-akses .card-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-akses .card-images .card-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 4px;
}

.card-akses .card-texts {
  padding: 15px;
  background-color: #fff;
  text-align: left;
}

.card-akses .card-texts .card-text {
  margin: 5px 0;
  font-size: 17px;
  color: #333;
}

.card-akses .card-texts .card-span {
  font-weight: 400;
  padding: 10px 0;
  font-size: 20px;
  color: #333;
  display: block;
}

.card-akses {
  position: relative;
}

.card-heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

@media (max-width: 992px) {
  .card-akses {
    display: flex;
    flex-wrap: wrap;
  }
}