@charset "UTF-8";
.card {
  border: 1px solid #d3d3d3; /* Boz rəngdə border */
  border-radius: 8px;
  overflow: hidden;
  width: 300px; /* Lazımi ölçü təyin edin */
  margin: 20px auto;
  background-color: #fff;
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Keçid effekti */
}
.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Kölgə effekti */
  transform: scale(1.02); /* Azca böyümə effekti */
  cursor: pointer; /* Əl işarəsi */
}
.card .card-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card .card-images .card-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 4px;
}
.card .card-texts {
  padding: 15px;
  background-color: #fff; /* Ağ fon */
  text-align: left;
}
.card .card-texts .card-text {
  margin: 5px 0;
  font-size: 17px; /* Böyük şrift ölçüsü */
  color: #333; /* Tünd boz rəng */
}
.card .card-texts .card-span {
  font-weight: 400;
  padding: 10px 0; /* Yuxarı-aşağı boşluq */
  font-size: 20px; /* Böyük şrift */
  color: #333; /* Tünd boz */
  display: block; /* Tam sətir */
}