.Pa-content {
  width: 359px;
  height: 479px;
  overflow: hidden;
  border-radius: 10px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.Pa-carousel {
  width: 100%; /* Ensure the image container takes full width */
  height: 100%;
  border-radius: 10px;
  position: relative;
  overflow: hidden !important;
}
.Pa-carousel:hover {
  transform: scale(1.1);
}
.Pa-carousel img {
  width: 100%; /* Make sure the image fills its container */
  height: 100%;
  object-fit: cover; /* Make the image cover the container without stretching */
  transition: transform 0.3s ease-in-out;
}

.payattention-text {
  line-height: 2;
  margin: 30px;
}
.payattention-text .pa-h2 {
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
}
.payattention-text .pa-p {
  color: #767676;
  font-family: "corpo-s-text", Arial, Verdana, Helvetica, sans-serif;
}

.Pa-carousel-h4 {
  position: relative;
  margin-left: 30px;
  padding-left: 30px;
}

.payattention-container .swiper-pagination-bullet {
  background-color: #746e6e;
}
.payattention-container .swiper-pagination-bullet-active {
  background-color: #585858;
}
@media (max-width: 960px) {
  .payattention-container .swiper-slide {
    width: 48%;
  }
  .payattention-container .Pa-carousel img {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .payattention-container .Pa-content {
    width: 100%;
  }
  .payattention-container .swiper-slide {
    width: 100%;
    margin-left: 0;
  }
  .payattention-container .Pa-carousel img {
    width: 100%;
  }
}
@media (max-width: 300px) {
  .payattention-container .Pa-content {
    width: 100%;
  }
  .payattention-container .swiper-slide {
    width: 100%;
    margin-left: 0;
  }
  .payattention-container .Pa-carousel img {
    width: 100%;
  }
}