@charset "UTF-8";
.about-welcome {
  position: relative;
}

.about-welcome img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.about-text1 {
  position: absolute;
  top: 50%;
  left: 30px; /* Soldan 30px margin */
  transform: translateY(-50%); /* Mətni şaquli mərkəzləşdirir */
  font-size: 24px;
  color: white; /* Yazı rəngi */
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 8px;
}

.about-picture {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
}
.about-picture img {
  width: 460px;
  height: 320px;
  border-radius: 15px;
  margin: 30px 0;
}

.about-video {
  position: relative;
  width: 100%;
  max-width: 97%;
  margin: 30px;
}
.about-video .about-video-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.about-video .about-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 32px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.about-video .about-play-button:hover {
  transform: translate(-50%, -50%) scale(1.1);
  background-color: rgba(0, 0, 0, 0.8);
}
.about-video .about-video-frame {
  width: 100%;
  height: 700px;
  border-radius: 8px;
}