.payattention-text {
  line-height: 2;
  margin: 30px;
}
.payattention-text .pa-p {
  color: #767676;
  font-family: "corpo-s-text", Arial, Verdana, Helvetica, sans-serif;
  margin: 30px;
}

.carusel-color {
  padding-top: 30px;
}

.pa-h2 {
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
  margin: 30px;
}

.swiper-pagination-bullet {
  background-color: #746e6e;
}

.swiper-pagination-bullet-active {
  background-color: #585858;
}

.hp-p2 {
  margin-top: 30px;
}

.hp-p2, .hp-p1 {
  margin-left: 30px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: normal;
  color: #767676;
}

.hp-btn {
  padding: 17px 25px !important;
  width: 20% !important;
  border-radius: 30px !important;
  background-color: #014881 !important;
  font-weight: bold !important;
  color: white !important;
  font-size: 17px !important;
  border: none !important;
  transition: 1s !important;
  height: 66px !important;
  margin-bottom: 20px;
  margin-left: 10px;
}

.hp-btn:hover {
  background: linear-gradient(45deg, #0288d1, #014881) !important;
  transform: scale(1.1) !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2) !important;
  cursor: pointer !important;
}