.intex-container .button-container {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 20px;
}
.intex-container #int-button, .intex-container #ex-button {
  border-radius: 10px;
}
.intex-container .switch-button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: transparent;
  color: #666;
  cursor: pointer;
  transition: all 0.3s;
}
.intex-container .switch-button.active {
  background-color: #333;
  color: #fff;
}
.intex-container .image-container {
  text-align: center;
}
.intex-container .image-container .main-image {
  width: 100%;
  max-width: 70%;
  height: 500px;
  object-fit: contain;
}

.intex-container {
  flex-direction: column;
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: 100%;
}

#int-button:hover {
  background-color: #ffffff;
  color: black;
  scale: 1.1;
  border-radius: 10px;
}

#ex-button:hover {
  background-color: #333;
  color: #fff;
  scale: 1.1;
  border-radius: 10px;
}