.orjinal-hisseler-main {
  margin: 0 auto;
  max-width: 1200px;
}

.oh-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  flex-direction: row;
}

.oh-section.reverse {
  flex-direction: row-reverse;
}

.oh-text, .oh-image {
  flex: 1;
}

@media (max-width: 992px) {
  .oh-section {
    flex-direction: column;
    text-align: center;
  }
  .oh-text, .oh-image {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .oh-section {
    padding: 10px;
  }
}