.product-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    margin: 0;
}

.product-item {
    text-align: left;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    position: relative;
    left: 130px;
    max-width: 250px;
    margin: 0;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    margin-top: 12px;
}

.edit-button,
.delete-button {
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    width: auto;
}

.edit-button {
    background-color: #4caf50;
    color: white;
}

.edit-button:hover {
    background-color: #45a049;
}

.delete-button {
    background-color: #f44336;
    color: white;
}

.delete-button:hover {
    background-color: #e53935;
}

@media (min-width: 600px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .edit-button, .delete-button {
        font-size: 12px;
        padding: 6px 12px;
    }
}

.product-item {
    position: relative;
    left: 50px;
}

@media (min-width: 992px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.special {
    color: #ddd;
    background-color: black;
}
