.basket-section ul {
    height: 21px;
    width: 87%;
    display: flex;
    padding-left: 0;
}

.basket-section {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.breadcrumb {
    list-style: none;
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

.breadcrumb li a {
    color: #95979c;
    font-size: 14px;
    text-decoration: none;
}

.breadcrumb li a:hover {
    color: #232d40;
}

.cart-container {
    display: flex;
    justify-content: space-between;
}

.cart-items {
    width: 65%;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 20px;
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.fav{
    color: red;

}
.fav-basket{
    a{font-size: 20px;}
    font-size: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    background-color: #eee;
}

.cart-item-image {
    width: 100px;
    height: auto;
    object-fit: contain;
}

.cart-item-info {
    flex: 1;
    margin-left: 15px;
}

.cart-item-info h4 {
    font-size: 16px;
    color: #232d40;
    margin-bottom: 5px;
}

.cart-item-info p {
    font-size: 16px;
    font-weight: bold;
    color: #232d40;
}

.cart-item-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 5px;
}

.quantity-controls button {
    padding: 5px 10px;
    
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn {
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    margin-left: 10px;
    color: black;
}

.cart-summary {
    width: 30%;
    height: 200px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    background-color: #eee;
}

.cart-summary h3 {
    font-size: 18px;
    color: #232d40;
    margin-bottom: 20px;
}

.summary-details {
    font-size: 14px;
    color: #232d40;
}


.hpsec1-btn2 {
    margin-top: 20px;
    padding: 17px 25px;
    width: 90%;
    border-radius: 30px;
    background-color: #000;
    font-weight: bold;
    color: #fff;
    font-size: 17px;
    transition: 1s;
    border: 1px solid white;
}

.hpsec1-btn2:hover {
    background: linear-gradient(45deg, #8a8888, #b0b0b0)!important;
    border: 1px solid transparent;
    color: #333;
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.deleted-items-section {
    margin-top: 20px;
    text-align: center;
}

.restore-btn {
    padding: 10px;
    background-color: #f1c40f;
    color: #232d40;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



@media(max-width:992px){
    .cart-container{
        display: flex;
       flex-direction: column;
       align-items: center;
    }
    .cart-summary{
        width: 65%;

    }
}
@media(max-width:600px){
    .cart-container{
        display: flex;
       flex-direction: column;
       align-items: center;
    }
    .cart-summary{
        width: 100%;

    }
    .cart-items{
width: 100%;
padding: 10px;
    }
}