footer {
    background-color: black;
    height: 620px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
  
  .footer-top {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    color: white;
    flex-direction: column;
    justify-content: center;
  }
  
  .footer-top i {
    margin-right: 8px;
    transition: transform 0.2s ease;
  }
  
  .footer-top:hover i {
    transform: translateY(-5px);
  }
  
  .footer-QR {
    border: 1px solid #545454;
    border-radius: 1.6rem;
    padding: 30px;
    max-width: 18.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
  }
  
  .footer-QR p {
    margin-top: 20px;
    width: 82%;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8rem;
    color: #95979c;
  }
  
  .footer-QR img {
    margin-top: 15px;
    max-width: 100%;
    height: auto;
  }
  
  * {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
  }
  
  .footer-Main {
    display: flex;
  }
  
  .footer-extra {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .f-elaqe:hover {
    cursor: pointer;
  }
  
  .f-extra-nav nav ul {
    display: flex;
    gap: 20px;
  }
  
  .f-extra-nav nav ul li a {
    color: #95979c;
  }
  
  .footer-logo-img1 {
    width: 200px;
    height: 200px;
    margin-left: 30px;
    transition: transform 2s ease;
  }
  
  .footer-logo-img1:hover {
    transform: rotate(360deg);
  }
  
  .footer-sirket {
    margin-right: 30px;
  }
  
  .footer-properity {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .footer-sirket,
  .footer-musteri {
    h3 {
      margin-right: 30px;
      color: #f8f8f8;
      font-weight: 600;
      font-size: 1.8rem;
      margin-bottom: 25px;
      margin-top: 5px;
    }
  }
  
  ul .f-bonus {
    width: 76%;
    line-height: 1.5rem;
  }
  
  ul li {
    line-height: 2.3rem;
    text-align: left;
  }
  
  ul li a {
    color: #95979c;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid transparent;
    padding-bottom: 1px;
  }
  
  .f-elaqe hr {
    border: 0.01px solid #95979c;
    opacity: 0.5;
    margin-top: 40px;
  }
  
  .f-elaqe h3 {
    color: #f8f8f8;
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 25px;
    margin-top: 5px;
  }
  
  .f-elaqe .f-elaqe-prop {
    position: relative;
    right: 0;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .f-elaqe .f-elaqe-prop span {
    font-size: 1.2rem;
    color: #95979c;
    width: 225px;
  }
  
  .f-elaqe .f-elaqe-prop img {
    width: 88px;
    height: 26px;
  }
  
  .f-socialmedia .f-social-icons {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 1.7rem;
  }
  
  .f-socialmedia .f-social-icons i {
    color: #c2c5ca;
  }
  
  .f-socialmedia h3 {
    width: 200px;
    color: #f8f8f8;
    font-weight: 600;
    font-size: 1.1rem;
    display: block;
    margin-bottom: 2.2rem;
  }
  
  .f-socialmedia {
    position: relative;
    top: 27px;
  }
  
  .footer-extra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    text-align: center;
    color: #95979c;
  }
  
  .f-extra-txt2 {
    display: flex;
    gap: 20px;
  }
  
  .f-extra-txt2 strong {
    color: #95979c;
  }
  
  .f-extra-txt2 img {
    width: 19px;
    height: 18px;
  }
  
  .footer-extra img {
    width: 91px;
    height: 40px;
  }
  
  @media (max-width: 992px) {
    footer {
      background-color: black;
      height: auto;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  
    .footer-logo-img1 {
      width: 80px;
      position: relative;
      right: 15px;
      height: 80px;
    }
  
    .f-extra-txt {
      color: white;
    }
  
    .footer-Main {
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }
  
    .footer-properity {
      flex-direction: column;
      justify-content: center;
      width: 100%;
      position: relative;
      left: 27px;
    }
  
    .footer-contact {
      display: none;
    }
  
    .footer-extra {
      flex-direction: column;
    }
  
    .f-extra-nav ul {
      flex-direction: column;
      gap: 10px;
    }
  
    .f-social-icons {
      font-size: 1.4rem;
      gap: 15px;
    }
  
    .footer-top {
      height: 60px;
      flex-direction: row;
    }
  
    .footer-top i {
      margin-right: 10px;
    }
  
    .footer-top p {
      margin: 0;
    }
  }
  .footer-properity, .f-extra-nav{
    ul{
      li{
        a{
          transition: 0.5s;
          &:hover{
            color: #f8f8f8;
          }
        }
      }
    }
  }
  .f-socialmedia{
    a{
     i{
      transition: 0.5s;
      &:hover{
        color: #f8f8f8;
      }
     }
    }
  }